body {
    background-color: black;
}
h2 {
    color: rgb(76, 76, 179);
    text-align: center;
}
h3 {
    color: azure;
}
* {
    text-align: center;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}