h1 {
    font-size: 30pt; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
* {
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh; /* 100% da altura da viewport */
    background: linear-gradient(to right, rgb(227, 77, 77), rgb(85, 85, 169));
  }

img {
    border-radius: 90px; 
}
p {
    font-size: 50px;
}