@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 50;
    padding: 60;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.logo {
    font-weight: 1000;
    font-size: 25px;
}

.links {
    color: #202020;
    display: flex;
}

.nav-itens {
    list-style: none;
}